[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
tqdm = "*"
zeep = "*"
rich = "*"
overpass = {editable = true, ref = "dc966113579d4e6d0e179af3fddc3b9221d6adaa", git = "https://github.com/mvexel/overpass-api-python-wrapper"}
pydantic = ">=1.10.2"
humanize = "==4.9.0"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
